<div class="volunteer-container">
    <div class="left-panel">
        <div class="identity">
            <img [src]="imageDisplayed" alt="">
            <p>{{ wish.id }}</p>
            <p>Inscrit le : {{ wish.createdDate | createdDate }}</p>
        </div>
        <div class="presentation">
            <p>{{ wish.volunteerProfile.firstname }} {{ wish.volunteerProfile.lastname }}</p>
            <p>{{ wish.volunteerProfile.company.name }}</p>
            
            <div class="mission">
                <div><fa-icon [icon]="handIcon"></fa-icon><p>{{ wish.initiative.title }}</p></div>
                <div><fa-icon [icon]="mapIcon"></fa-icon><p>{{ wish.initiative.city }}</p></div>
                <div><fa-icon [icon]="userIcon"></fa-icon><p>{{ wish.coordinatorProfile.firstname }} {{ wish.coordinatorProfile.lastname }}</p></div>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <div class="status">
            <span>Statut : </span> 
            <app-tag [status]="wish.status"></app-tag>
        </div>
        <div class="entries-container" *ngIf="wish.entries && wish.entries.length > 0">
            <div class="entries" *ngFor='let entry of wish.entries'>
                <p>Le {{ entry.dateBegin | date: 'dd/MM/yyyy' }}, de {{ entry.dateBegin | date: 'HH' }}h{{ entry.dateBegin | date: 'mm' }} à {{ entry.dateEnd | date: 'HH' }}h{{ entry.dateEnd | date: 'mm' }} ({{ duration }})</p>
            </div>
        </div>
    </div>
</div>