@import './../../../../assets/colors.scss';

.tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
    
    &.count-tag {
        width: 200px;
        height: 42px;
        max-width: 200px;
        margin: 8px auto;
        padding: 8px 16px 8px 0;
        transition: background-color 0.5s ease-in-out;

        &:hover {
            background-color: $light-grey;
            cursor: pointer;
        }
    }

    &.no-count-tag {
        width: fit-content;
        height: 30px;
        padding: 4px 16px 4px 0;
    }

    .main {
        display: flex;
        align-items: center;

        .sticker {
            margin: 0 16px 0 8px;
            width: 20px;
            height: 20px;
            min-width: 20px;
            min-height: 20px;
            border-radius: 50%;
    
            &.application {
                background-color: $light-red;
            } 
            &.discussion {
                background-color: $dark-red;
            }
            &.waiting_association_validation {
                background-color: $dark-yellow;
            }
            &.waiting_manager_validation {
                background-color: $light-yellow;
            }
            &.in_progress {
                background-color: $ligth-green;
            }
            &.user_has_participated {
                background-color: $dark-green;
            }
            &.cancelled {
                background-color: $light-grey;
            }
        }

        .status {
            color: #404040;
            font-size: 14px;
        }
    }

    .count {
        margin-left: 24px;
    }
}