/* You can add global styles to this file, and also import other style files */
// @import './assets/colors.scss';
// @import './assets/fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: transparent linear-gradient(247deg, #FFD40080 0%, #FFD400 100%) 0% 0% no-repeat;
}